
:root {
  --primary-color: #04DDB2;
  --text-color: #636363;
  --shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  --logo-text: 3.5rem;
  --logo-img: 3.5rem;
}

html{
  font-size: 62.5%;
}
* { margin: 0; padding: 0; box-sizing: border-box; }
ul { list-style: none; }
body {
  font-size:1.6rem;
  font-family: 'Gothic A1', sans-serif;
  color:var(--text-color);
  width: 100%;
  padding:0px;
  margin:0px ;
}

.h1{
  justify-items: center;
  margin: 4rem 0rem;
  font-size: 6.4rem;
  font-weight: bold;
}
.h2{
  justify-items: center;
  margin: 4rem 0rem;
  font-size: 5rem;
  font-weight: bold;
}
.h4{
  margin: 2rem 2rem ;
  font-size: 2rem;
  font-weight: lighter;
}

.header{
  padding: 2rem 4.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  & span{
    font-size: var(--logo-text);
    font-weight: bold;
  }
  & img{
    width: auto;
    height: var(--logo-img);
  }
  & nav{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 5rem;
    padding:  1.4rem 1.4rem;
    justify-content:center;
    align-content: flex-end;
    & a{
      font-size: 1.6rem;
      font-weight: bold;
      color: #636363;
      text-decoration: none;
      &:hover{
        color: black;
      }
    }
  }
  .logo{
    display: flex;
    align-items: center;
    justify-items:center;
}    
}

.btn{
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  border: none;
  width: 11rem;
  height: 3.8rem;
  border-radius: 0.5rem;
  background-color:var(--primary-color) ;
  margin: 3rem 0rem;
  padding: 0.7rem 0.7rem;
  &:hover{
    box-shadow: var(--shadow);  
    cursor: pointer;
    transition: all 0.2s ease-in-out; /* Время и easing-функция */  
  }
  &:hover:active{
    transform:scale(0.9) ;
    transform: 0.2s ease-in-out;
  }
}

.main{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.part-black{color: #636363;}  
.part-green{color: #04DDB2;}
.description{
  max-width: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.carousel{
  padding:3rem;
  margin: 5rem 0rem;
  background-color: #f1f1f1;
  border-spacing: 1px ;
  border-color:var(--primary-color) ;
  border-radius: 15px;
  flex-grow: 1;
  & img{
    box-shadow:var(--shadow);
    max-width:450px;
    max-height:450px;
    border-radius: 15px;
  }
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: #636363 1px;  
  margin: 10rem 0rem 0rem 0rem;
  padding: 2rem 0rem;
  color:var(--text-color);
  & nav{  
    border-top:1px solid var(--text-color); 
    display: grid;
    width:60%;
    grid-template-columns:repeat(5, 1fr);
    gap: 2rem;
    justify-content:center;
    align-items:start;
      & div{
      display:flex; 
      width: auto;
      justify-content: center;
      margin: 2rem 0rem; 
      & ul{
      padding: 0rem;
      align-content:end;
        & li{
        list-style: none;
        padding: 0.4rem;
          &.logo{
          display:flex;
          align-items:center;
            & span{
            font-size: 2.6rem;
            font-weight: bolder;
            }
            & img{
            height:2.6rem;
            width:auto;
            }  
          }   
        }
        & span{
          font-size: 1.8rem;
          font-weight: bolder;
        }
        & a{
        font-size: 1.4rem;
        font-weight: normal;
        color:var(--text-color);
        text-decoration: none;
          &:hover{
            font-weight:normal;
            color: black;
          }     
        }
      }     
    }
  }
}
